<!doctype html>
<html lang="en">
<head>
    <title>Working Title - Event Sorting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% block body %}
        <div class="grid grid-cols-2 max-w-7xl mx-auto mb-20">
            <div>
                <h2 class="text-3xl font-bold underline my-8">
                    Future Events
                </h2>
                <div class="space-y-8">
                    {%- block futureEvents -%}{%- endblock -%}
                </div>
            </div>

            <div>
                <h2 class="text-3xl font-bold underline my-8">
                    Past events
                </h2>
                <div class="space-y-8">
                    {%- block pastEvents -%}{%- endblock -%}
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>
