{% extends '_layout.twig' %}

{% block body %}
    <div class="flex h-screen items-center justify-center">
        <h2 class="inline text-3xl font-bold underline mb-20">
            Just an empty template for a base reading.
        </h2>
    </div>
{% endblock %}
