{% extends '_layout.twig' %}

{% set events = craft.entries
    .section('events')
    .collect()
%}

{%- set pastEvents = events -%}
{%- set futureEvents = events -%}

{%- block futureEvents -%}
    {%- for event in futureEvents -%}
        <div>
            <h3 class="text-lg font-bold">
                {{- event.title -}}
            </h3>
            <span class="text-sm text-gray-700">
                {{- event.dates[0].date|date('F jS Y') -}}
            </span>
        </div>
    {%- endfor -%}
{%- endblock -%}

{%- block pastEvents -%}
    {%- for event in futureEvents -%}
        <div>
            <h3 class="text-lg font-bold">
                {{- event.title -}}
            </h3>
            <span class="text-sm text-gray-700">
                {{- event.dates[0].date|date('F jS Y') -}}
            </span>
        </div>
    {%- endfor -%}
{%- endblock -%}